.link {
  text-decoration: none;
}

.navi {
  height: 64px;
}

.btn-login {
  width: 130px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dp {
  width: 200px;
  height: auto;
  border-radius: 1%;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  width: 200px;
}
.right {
  margin-left: 5%;
}

.repoTable {
  height: 370px;
}

.pg__prev {
  display: none;
}
